<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    [matColumnDef]="column.columnDef"
    *ngFor="let column of columns"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td mat-cell *matCellDef="let element">{{ column.cell(element) }}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === element ? null : element;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      style="width: 100%; padding: 0px;"
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <table style="width: 100% !important;">
        <tr
          *ngFor="let monthValue of element.expandableMonthValues"
          class="detail-row"
          [hidden]="expandedElement !== element"
        >
          <div
            class="row-element"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.month }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.housingValue }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.outstandingLoan }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.termAmountForMonth }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.installment }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.interestAmount }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.taxDeduction }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.variousExpenses }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.rentalIncome }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.tax }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.cashFlow }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.netProfit }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.unrealizedCapital }}</td>
            <td style="width: 6.8%; padding-left: 16px; padding-right: 16px;">{{ monthValue.netYield }}</td>
            <td style="width: 4.8%; padding-left: 16px; padding-right: 16px;"></td>
          </div>
        </tr>
      </table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
