<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    [matColumnDef]="column.columnDef"
    *ngFor="let column of columns"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td mat-cell *matCellDef="let element">{{ column.cell(element) }}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === element ? null : element;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <table>
        <tr
          *ngFor="let monthValue of element.expandableMonthValues"
          class="detail-row"
          [hidden]="expandedElement !== element"
        >
          <div
            class="row-element"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
            <td class="mat-column-year">{{ monthValue.month }}</td>
            <td class="mat-column-houseValue">{{ monthValue.housingValue }}</td>
            <td class="mat-column-mortgageAmount">{{ monthValue.outstandingLoan }}</td>
            <td class="mat-column-termAmount">{{ monthValue.termAmountForMonth }}</td>
            <td class="mat-column-installment">{{ monthValue.installment }}</td>
            <td class="mat-column-interestAmount">{{ monthValue.interestAmount }}</td>
            <td class="mat-column-taxDeduction">{{ monthValue.taxDeduction }}</td>
            <td class="mat-column-variousExpenses">{{ monthValue.variousExpenses }}</td>
            <td class="mat-column-rentalincome">{{ monthValue.rentalIncome }}</td>
            <td class="mat-column-tax">{{ monthValue.tax }}</td>
            <td class="mat-column-cashflow">{{ monthValue.cashFlow }}</td>
            <td class="mat-column-netProfit">{{ monthValue.netProfit }}</td>
            <td class="mat-column-unrealizedCapital">{{ monthValue.unrealizedCapital }}</td>
            <td class="mat-column-netYield">{{ monthValue.netYield }}</td>
            <td class="mat-column-expand"></td>
          </div>
        </tr>
      </table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
