table {
  width: 100%;
}

.mat-elevation-z8{
  padding-bottom: 20px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.detail-row {
  width: 100%;
  padding: 0 !important;
  margin: 0;
  border: none;
  border-spacing: 0px;
}

.row-element {
  display: flex;
  width: 100%;
  padding: 0 !important;
  border: 0;
}

/* .row-child-element {
  width: 11.5%; 
  flex: 1;
  padding: 0 16px 0 16px;
}

.row-child-element-first {
  width: 11%;
  flex: 1;
  padding: 0 16px 0 0px;
}

.row-child-element-last {
  flex: 0.27;
  padding: 0 0px 0 16px;
} */

/* .example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
} */

.mat-column-year {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-houseValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-netProfit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tax {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-taxDeduction {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-interestAmount {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-installment {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-netYield {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mortgageAmount {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-termAmount {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-variousExpenses {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-rentalincome {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cashflow {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-unrealizedCapital {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 6.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-expand {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  width: 4.8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


/* .flex-table {
  width: 100%;
  display: flex !important;
  flex-direction: column;
} */

/* .mat-header-row, .mat-row {
  display: flex;
} */

/* .mat-header-cell, .mat-cell {
  flex: 1;
} */


tr, td, th {
  box-sizing: border-box;
}


table, tr {
  margin: 0;
  padding: 0;
  border: none;
}
