.flex-financial {
  justify-content: center;
  display: flex;
}

.flex-financial-header {
  margin-top: 1%;
  justify-content: center;
  display: flex;
}

.flex-costs {
  justify-content: center;
  display: flex;
}

.flex-costs-header {
  justify-content: center;
  display: flex;
}

.flex-revenues {
  justify-content: center;
  display: flex;
}

.flex-revenues-header {
  justify-content: center;
  display: flex;
}

.input-field {
  margin: 10px;
}
