.flex-financial {
  justify-content: center;
  display: flex;
  margin-top: 1%;
}

.flex-costs {
  justify-content: center;
  display: flex;
  margin-top: 1%;
}

.flex-revenues {
  justify-content: center;
  display: flex;
  margin-top: 1%;
}

.input-field {
  margin: 10px;
}
