
<h4 class="flex-financial-header">Finansiering</h4>
<div class="flex-financial">
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Boligverdi</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="houseValue"
      (input)="houseValueChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Omkostninger</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="takeoverCosts"
      (input)="takeoverCostsChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Lånebeløp</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="mortgageAmount"
      (input)="mortgageAmountChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Nedbetalingstid</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="repaymentPeriod"
      (input)="repaymentPeriodChanged($event.target)"
    />
    <span matTextSuffix>År</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Rente på lån</mat-label>
    <input
      matInput
      type="number"
      placeholder="Rente på lån"
      [(ngModel)]="loanInterest"
      (input)="loanInterestChanged($event.target)"
    />
    <span matTextSuffix>%</span>
  </mat-form-field>
</div>

<h4 class="flex-costs-header">Kostnader</h4>
<div class="flex-costs">
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Felleskostnader /mnd</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="monthlyJointCosts"
      (input)="monthlyJointCostsChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Kommunale avg. /år</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="yearlyMunicipalTaxes"
      (input)="yearlyMunicipalTaxesChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Eiendomsskatt /år</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="propertyTax"
      (input)="propertyTaxChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>TV og Internett</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="tvAndInternetCosts"
      (input)="tvAndInternetCostsChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Forsikring</mat-label>
    <input
      matInput
      type="number"
      placeholder="0"
      [(ngModel)]="insuranceCosts"
      (input)="insuranceCostsChanged($event.target)"
    />
    <span matTextSuffix>Kr</span>
  </mat-form-field>
</div>
<h4 class="flex-revenues-header">Inntekter</h4>
<div class="flex-revenues">
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Brutto leieinntekter /mnd</mat-label>
    <input matInput type="number" placeholder="0" [(ngModel)]="rentalIncome" (input)="rentalIncomeChanged($event.target)" />
    <span matTextSuffix>Kr</span>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Ledighetsrate</mat-label>
    <input matInput type="number" placeholder="0" [(ngModel)]="vacancyRate" (input)="vacancyRateChanged($event.target)" />
    <span matTextSuffix>%</span>
  </mat-form-field>
</div>


